<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.AmosManneschmidt.callorsmscontact</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>05465173-78BA-46B5-BAB9-66742B45EE44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16865643-D0A0-48DA-961D-053770CCBB23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>06D43C57-AF42-446D-A9D4-11B41BED1C85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86590F04-57CC-4B1E-96FF-A87CC14063DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08549E07-E3B8-4574-BA24-3B4F32C1FE4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68D994C5-8D38-457E-A4C8-355E6813D77A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DB9CFD6-37CD-405C-AA68-3A682CFD5BBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E63F1F76-116F-4C39-A91D-7A1BD00B991B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FAC263F-D24B-4ACB-9D59-07329F75BCD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4B277B2-977C-4560-8E33-DA50A32F72CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>217E2CEF-689C-49E5-986E-8C1B55AB80C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>126EBE51-784E-415A-8D65-C85B217DF930</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>217E2CEF-689C-49E5-986E-8C1B55AB80C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DFF0026-0410-4E09-B829-03EA6203893F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD39690-F75B-4539-B79C-E25613FB3A3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>217E2CEF-689C-49E5-986E-8C1B55AB80C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFD6D29D-E612-49E1-8CAD-411BEA21ACA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42AC172B-3284-46CC-A8B8-B5251D9644DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD39690-F75B-4539-B79C-E25613FB3A3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFD6D29D-E612-49E1-8CAD-411BEA21ACA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>636E755F-9C12-4C93-BC09-0F6C1B84697C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E8D3519-0F74-4721-8468-CD8ED09FAA52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EA9EAD0-794A-4D65-9283-E49D1DCA0DDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68D994C5-8D38-457E-A4C8-355E6813D77A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DB9CFD6-37CD-405C-AA68-3A682CFD5BBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A65C4EA1-6F56-4821-8EBE-2C2717B3A455</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76CD24D4-D950-445D-A8FC-D8BD4D390299</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE62CA2C-AD0A-4574-A27D-965347ADB14C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EA9EAD0-794A-4D65-9283-E49D1DCA0DDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06D43C57-AF42-446D-A9D4-11B41BED1C85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82575DDB-BCA7-4201-A253-C4316E28B570</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B3500C8-4B35-4842-9DB3-18793D2881F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>953EA110-8004-4091-9985-F0AF57D696C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D675C802-AD81-43EF-8415-4D4FE2425415</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Skip confirmation and call</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E8D3519-0F74-4721-8468-CD8ED09FAA52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>473F5DFC-4A6D-4D50-8043-08B57D3D3028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9ECF0139-0E66-4EAC-8C62-1D55A508874E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F02490D9-0F64-4B7B-99B2-B162E9DD11EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A65C4EA1-6F56-4821-8EBE-2C2717B3A455</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05465173-78BA-46B5-BAB9-66742B45EE44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA05525E-1106-40EB-8CFC-66CA0AFFF10F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4B277B2-977C-4560-8E33-DA50A32F72CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4E2CA73-00A6-4589-B3F9-9D717FF489A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82575DDB-BCA7-4201-A253-C4316E28B570</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>08549E07-E3B8-4574-BA24-3B4F32C1FE4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D675C802-AD81-43EF-8415-4D4FE2425415</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFD6D29D-E612-49E1-8CAD-411BEA21ACA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4B277B2-977C-4560-8E33-DA50A32F72CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD39690-F75B-4539-B79C-E25613FB3A3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE62CA2C-AD0A-4574-A27D-965347ADB14C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4E2CA73-00A6-4589-B3F9-9D717FF489A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFD6D29D-E612-49E1-8CAD-411BEA21ACA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76CD24D4-D950-445D-A8FC-D8BD4D390299</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F02490D9-0F64-4B7B-99B2-B162E9DD11EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>636E755F-9C12-4C93-BC09-0F6C1B84697C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>126EBE51-784E-415A-8D65-C85B217DF930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Skip confirmation and Call</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFD39690-F75B-4539-B79C-E25613FB3A3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ECF0139-0E66-4EAC-8C62-1D55A508874E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Amos Manneschmidt (@amoose136)</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Call or SMS contact</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>False</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>126EBE51-784E-415A-8D65-C85B217DF930</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set contacts_running to false
if application "Contacts" is running then
set contacts_running to true
end if

tell application "Contacts"
set q to text ((offset of "Metadata/" in q)+9) thru ((offset of "." in q)-1) of q
set phonenumber to value of phone of person id qset phonenumber to item 1 of phonenumber

if contacts_running is false
tell application "Contacts" to quit
end if

return phonenumber
end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>217E2CEF-689C-49E5-986E-8C1B55AB80C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>*</string>
						<key>words</key>
						<false/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>call</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>subtext</key>
				<string>Call using iPhone tethering if available</string>
				<key>title</key>
				<string>Call [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:uncleaned} is an improperly formatted number</string>
				<key>title</key>
				<string>Cannot place call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3B3500C8-4B35-4842-9DB3-18793D2881F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>82575DDB-BCA7-4201-A253-C4316E28B570</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>True</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open 'tel://{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E63F1F76-116F-4C39-A91D-7A1BD00B991B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>call</string>
				<key>subtext</key>
				<string>Call {query}</string>
				<key>text</key>
				<string>Call [Number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>953EA110-8004-4091-9985-F0AF57D696C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^0-9]?</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>76CD24D4-D950-445D-A8FC-D8BD4D390299</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^[0-9]{7}+([0-9]{3,4})?$</string>
				<key>replacestring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B4E2CA73-00A6-4589-B3F9-9D717FF489A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>False</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D675C802-AD81-43EF-8415-4D4FE2425415</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>cleaned</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EE62CA2C-AD0A-4574-A27D-965347ADB14C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>uncleaned</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EFD6D29D-E612-49E1-8CAD-411BEA21ACA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:skip_confirm}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>True</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0DB9CFD6-37CD-405C-AA68-3A682CFD5BBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open 'tel://{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05465173-78BA-46B5-BAB9-66742B45EE44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set tout to 5set t to 0repeat while t &lt; tout	tell application "System Events"		set facetime_running to count (every process whose name is "FaceTime")	end tell	if facetime_running is 1 then		try			tell application "System Events"
				set frontWindow to front window of application process "FaceTime"				delay .6 # needed to avoid weird flickering stuff. Try increasing if you still see it on your system				click button "Call" of frontWindow				exit repeat			end tell		end try	else		delay 0.1	end if	set t to t + 0.1end repeat
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>16865643-D0A0-48DA-961D-053770CCBB23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:cleaned}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>68D994C5-8D38-457E-A4C8-355E6813D77A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>08549E07-E3B8-4574-BA24-3B4F32C1FE4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:skip_confirm}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>True</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A65C4EA1-6F56-4821-8EBE-2C2717B3A455</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>True</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>sms</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>subtext</key>
				<string>Message contact with imessage</string>
				<key>title</key>
				<string>Message [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>AA05525E-1106-40EB-8CFC-66CA0AFFF10F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set contacts_running to false
if application "Contacts" is running then
set contacts_running to true
end if

tell application "Contacts"
delay .5
set q to text ((offset of "Metadata/" in q)+9) thru ((offset of "." in q)-1) of q
set phonenumber to value of phone of person id qset phonenumber to item 1 of phonenumber
end tell

if contacts_running is false
tell application "Contacts" to quit
end if

return phonenumber
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E4B277B2-977C-4560-8E33-DA50A32F72CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:uncleaned} is an improperly formatted number</string>
				<key>title</key>
				<string>Cannot SMS number</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>473F5DFC-4A6D-4D50-8043-08B57D3D3028</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9E8D3519-0F74-4721-8468-CD8ED09FAA52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>im</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>subtext</key>
				<string>Message contact with imessage</string>
				<key>title</key>
				<string>Message [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0FAC263F-D24B-4ACB-9D59-07329F75BCD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^[0-9]{10,11}$</string>
				<key>replacestring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>636E755F-9C12-4C93-BC09-0F6C1B84697C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^0-9]?</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9ECF0139-0E66-4EAC-8C62-1D55A508874E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>cleaned</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F02490D9-0F64-4B7B-99B2-B162E9DD11EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>uncleaned</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FFD39690-F75B-4539-B79C-E25613FB3A3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sms</string>
				<key>subtext</key>
				<string>sms {query}</string>
				<key>text</key>
				<string>sms [number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1DFF0026-0410-4E09-B829-03EA6203893F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open 'imessage://{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86590F04-57CC-4B1E-96FF-A87CC14063DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7EA9EAD0-794A-4D65-9283-E49D1DCA0DDA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:cleaned}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>06D43C57-AF42-446D-A9D4-11B41BED1C85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>im</string>
				<key>subtext</key>
				<string>im {query}</string>
				<key>text</key>
				<string>im [number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>42AC172B-3284-46CC-A8B8-B5251D9644DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>I wanted Alfred to better integrate with continuity features in the Iphone so I made this. Released under Apache License 2.0. Written by @amoose136 2015-2016. Requires Alfred V3.</string>
	<key>uidata</key>
	<dict>
		<key>05465173-78BA-46B5-BAB9-66742B45EE44</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>send to tel://</string>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>06D43C57-AF42-446D-A9D4-11B41BED1C85</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>08549E07-E3B8-4574-BA24-3B4F32C1FE4E</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>contains 7, 10, or 11 digits</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>0DB9CFD6-37CD-405C-AA68-3A682CFD5BBA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>show confirm?</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>0FAC263F-D24B-4ACB-9D59-07329F75BCD0</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</key>
		<dict>
			<key>note</key>
			<string>skip confirmation</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>126EBE51-784E-415A-8D65-C85B217DF930</key>
		<dict>
			<key>note</key>
			<string>show confirmation popup before calling</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>16865643-D0A0-48DA-961D-053770CCBB23</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>click call.</string>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>1DFF0026-0410-4E09-B829-03EA6203893F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>217E2CEF-689C-49E5-986E-8C1B55AB80C8</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3B3500C8-4B35-4842-9DB3-18793D2881F2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>format bad</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>42AC172B-3284-46CC-A8B8-B5251D9644DB</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>473F5DFC-4A6D-4D50-8043-08B57D3D3028</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>format bad</string>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</key>
		<dict>
			<key>note</key>
			<string>skip confirmation</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>636E755F-9C12-4C93-BC09-0F6C1B84697C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>This is functionally an "if" statement</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>68D994C5-8D38-457E-A4C8-355E6813D77A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>76CD24D4-D950-445D-A8FC-D8BD4D390299</key>
		<dict>
			<key>note</key>
			<string>Remove letters and spaces (leaving numbers)</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>7EA9EAD0-794A-4D65-9283-E49D1DCA0DDA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>contains 10, or 11 digits</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>82575DDB-BCA7-4201-A253-C4316E28B570</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>does not contain 7, 10, or 11 digits</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>86590F04-57CC-4B1E-96FF-A87CC14063DA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>send the imessage://</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>953EA110-8004-4091-9985-F0AF57D696C4</key>
		<dict>
			<key>note</key>
			<string>For numbers</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>9E8D3519-0F74-4721-8468-CD8ED09FAA52</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>does not contain 10 or 11 digits</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>9ECF0139-0E66-4EAC-8C62-1D55A508874E</key>
		<dict>
			<key>note</key>
			<string>Remove letters and spaces (leaving numbers)</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>A65C4EA1-6F56-4821-8EBE-2C2717B3A455</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>skip confirm</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>AA05525E-1106-40EB-8CFC-66CA0AFFF10F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B4E2CA73-00A6-4589-B3F9-9D717FF489A1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>This is functionally an "if" statement</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>D675C802-AD81-43EF-8415-4D4FE2425415</key>
		<dict>
			<key>note</key>
			<string>show confirmation popup before calling</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>E4B277B2-977C-4560-8E33-DA50A32F72CE</key>
		<dict>
			<key>note</key>
			<string>Extract number</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>E63F1F76-116F-4C39-A91D-7A1BD00B991B</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>send to tel://</string>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>EE62CA2C-AD0A-4574-A27D-965347ADB14C</key>
		<dict>
			<key>note</key>
			<string>save cleaned query and pass along</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>EFD6D29D-E612-49E1-8CAD-411BEA21ACA2</key>
		<dict>
			<key>note</key>
			<string>Save initial query</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>F02490D9-0F64-4B7B-99B2-B162E9DD11EB</key>
		<dict>
			<key>note</key>
			<string>save cleaned query and pass along</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<dict>
			<key>note</key>
			<string>For contacts</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>FFD39690-F75B-4539-B79C-E25613FB3A3A</key>
		<dict>
			<key>note</key>
			<string>Save initial query</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>skip_confirm</key>
		<string>False</string>
	</dict>
	<key>version</key>
	<string>2.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
