<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.AmosManneschmidt.callorsmscontact</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FAC263F-D24B-4ACB-9D59-07329F75BCD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2BE7579-08DF-4914-9F8B-59D5C429C3AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5DDD534-314A-473C-A898-AEC5C234FC52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>126EBE51-784E-415A-8D65-C85B217DF930</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5DDD534-314A-473C-A898-AEC5C234FC52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DFF0026-0410-4E09-B829-03EA6203893F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ECF0139-0E66-4EAC-8C62-1D55A508874E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42AC172B-3284-46CC-A8B8-B5251D9644DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ECF0139-0E66-4EAC-8C62-1D55A508874E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76CD24D4-D950-445D-A8FC-D8BD4D390299</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76CD24D4-D950-445D-A8FC-D8BD4D390299</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E63F1F76-116F-4C39-A91D-7A1BD00B991B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86590F04-57CC-4B1E-96FF-A87CC14063DA</key>
		<array/>
		<key>953EA110-8004-4091-9985-F0AF57D696C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D675C802-AD81-43EF-8415-4D4FE2425415</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Skip confirmation and call</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9ECF0139-0E66-4EAC-8C62-1D55A508874E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86590F04-57CC-4B1E-96FF-A87CC14063DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2BE7579-08DF-4914-9F8B-59D5C429C3AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ECF0139-0E66-4EAC-8C62-1D55A508874E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA05525E-1106-40EB-8CFC-66CA0AFFF10F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2BE7579-08DF-4914-9F8B-59D5C429C3AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B855F94C-6DC2-4999-9A4C-3DF7F330CD9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16865643-D0A0-48DA-961D-053770CCBB23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5DDD534-314A-473C-A898-AEC5C234FC52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76CD24D4-D950-445D-A8FC-D8BD4D390299</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D675C802-AD81-43EF-8415-4D4FE2425415</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76CD24D4-D950-445D-A8FC-D8BD4D390299</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E63F1F76-116F-4C39-A91D-7A1BD00B991B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B855F94C-6DC2-4999-9A4C-3DF7F330CD9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>126EBE51-784E-415A-8D65-C85B217DF930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Skip confirmation and Call</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Amos Manneschmidt (@amoose136)</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Call or SMS contact</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>False</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>126EBE51-784E-415A-8D65-C85B217DF930</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>*</string>
						<key>words</key>
						<false/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>call</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>subtext</key>
				<string>Call using iPhone tethering if available</string>
				<key>title</key>
				<string>Call [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set contacts_running to false
if application "Contacts" is running then
 set contacts_running to true
else
 do shell script "open -j /Applications/Contacts.app"
end if

tell application "Contacts"
 set q to text ((offset of "Metadata/" in q)+9) thru ((offset of "." in q)-1) of q
 set phonenumber to value of phone of person id q set phonenumber to item 1 of phonenumber
end tell

if contacts_running is false
 tell application "Contacts" to quit
end if

return phonenumber
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D5DDD534-314A-473C-A898-AEC5C234FC52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>True</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>call</string>
				<key>subtext</key>
				<string>Call {query}</string>
				<key>text</key>
				<string>Call [Number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>953EA110-8004-4091-9985-F0AF57D696C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>False</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D675C802-AD81-43EF-8415-4D4FE2425415</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set tout to 8set t to 0repeat while t &lt; tout	tell application "System Events"		set facetime_running to count (every process whose name is "FaceTime")	end tell	if facetime_running is 1 then		try			tell application "System Events"
				set frontWindow to front window of application process "FaceTime"				delay .6 # needed to avoid weird flickering stuff. Try increasing if you still see it on your system				click button "Call" of application process "FaceTime"				exit repeat			end tell		end try	else		delay 0.1	end if	set t to t + 0.1end repeat
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>16865643-D0A0-48DA-961D-053770CCBB23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open 'tel://{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E63F1F76-116F-4C39-A91D-7A1BD00B991B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:skip_confirm}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>True</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B855F94C-6DC2-4999-9A4C-3DF7F330CD9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^0-9]?</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>76CD24D4-D950-445D-A8FC-D8BD4D390299</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>True</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>sms</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>subtext</key>
				<string>Message contact with imessage</string>
				<key>title</key>
				<string>Message [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>AA05525E-1106-40EB-8CFC-66CA0AFFF10F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set contacts_running to false
if application "Contacts" is running then
 set contacts_running to true
end if

tell application "Contacts"
 set q to text ((offset of "Metadata/" in q)+9) thru ((offset of "." in q)-1) of q
 set phonenumber to value of phone of person id q set phonenumber to item 1 of phonenumber
end tell

if contacts_running is false
 tell application "Contacts" to quit
end if

return phonenumber
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A2BE7579-08DF-4914-9F8B-59D5C429C3AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>im</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>subtext</key>
				<string>Message contact with imessage</string>
				<key>title</key>
				<string>Message [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0FAC263F-D24B-4ACB-9D59-07329F75BCD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open 'imessage://{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86590F04-57CC-4B1E-96FF-A87CC14063DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^0-9]?</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9ECF0139-0E66-4EAC-8C62-1D55A508874E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sms</string>
				<key>subtext</key>
				<string>sms {query}</string>
				<key>text</key>
				<string>sms [number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1DFF0026-0410-4E09-B829-03EA6203893F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>im</string>
				<key>subtext</key>
				<string>im {query}</string>
				<key>text</key>
				<string>im [number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>42AC172B-3284-46CC-A8B8-B5251D9644DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>I wanted Alfred to better integrate with continuity features in the iPhone so I made this. Released under Apache License 2.0. Written by @amoose136 2015-2018.</string>
	<key>uidata</key>
	<dict>
		<key>0FAC263F-D24B-4ACB-9D59-07329F75BCD0</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>10C9547D-84B9-43F9-9DA0-6AEC76C58A94</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>skip confirmation</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>126EBE51-784E-415A-8D65-C85B217DF930</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>show confirmation popup before calling</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>16865643-D0A0-48DA-961D-053770CCBB23</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>click call</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>1DFF0026-0410-4E09-B829-03EA6203893F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>42AC172B-3284-46CC-A8B8-B5251D9644DB</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>5C05FAE4-38A9-4B98-8863-C42A8F5CE7E5</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>skip confirmation</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>76CD24D4-D950-445D-A8FC-D8BD4D390299</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Remove letters and spaces (leaving numbers)</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>86590F04-57CC-4B1E-96FF-A87CC14063DA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>send to Messages.app</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>953EA110-8004-4091-9985-F0AF57D696C4</key>
		<dict>
			<key>note</key>
			<string>For numbers</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>9ECF0139-0E66-4EAC-8C62-1D55A508874E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Remove letters and spaces (leaving numbers)</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>A2BE7579-08DF-4914-9F8B-59D5C429C3AA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Extract number</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>AA05525E-1106-40EB-8CFC-66CA0AFFF10F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B855F94C-6DC2-4999-9A4C-3DF7F330CD9F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>D5DDD534-314A-473C-A898-AEC5C234FC52</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Extract number</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D675C802-AD81-43EF-8415-4D4FE2425415</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>show confirmation popup before calling</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>E63F1F76-116F-4C39-A91D-7A1BD00B991B</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Make call button appear</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<dict>
			<key>note</key>
			<string>For contacts</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.21</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
